<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Campus Name</key>
	<string>University of Southern California</string>
	<key>Campus Code</key>
	<string>university_of_southern_california_california_us</string>
	<key>Wikipedia URL</key>
	<string></string>
</dict>
</plist>
